:root {
    --color-1: #E5D9B6;
    --color-2: #A4BE7B;
    --color-3: #5F8D4E;
    --color-4: #285430;
    --color-5: #042c35;
    --color-6: #0E1111;
}

@font-face {
    font-family: poppinsB;
    src: url(./assets/poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: poppinsT;
    src: url(./assets/poppins/Poppins-Light.ttf);
}

@font-face {
    font-family: poppinsM;
    src: url(./assets/poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: poppinsM2;
    src: url(./assets/poppins/Poppins-SemiBold.ttf);
}

* {
    font-family: Poppins;
}

body {
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    display: none;
  }

/* --- NAVBAR --- */

.navbar-container {
    display: flex;
    flex-direction: row;  
    justify-content: center;
    align-items: center;
    position: absolute; 
    width: 100%;
    height: 80px;
    z-index: 3;
    padding: 0;
    margin-top: 0;
    position: fixed;
    transition: all ease 0.3s;
}

#switchdiv {
    display: flex;
    flex-direction: row;  
    justify-content: center;
    align-items: center;
    position: absolute; 
    width: auto;
    padding: 0;
    height: auto;
}

#switchdiv li {
    list-style: none;
    margin: 20px;
    font-size: large;
    height: auto;
    display: block;
}

#switchdiv li:hover {
    cursor: pointer;
    border-bottom: 3px solid var(--color-3);
    transition: all ease 0.3s;
}

#switchdiv li a {
    position: relative;
    text-decoration: none;
    padding: 10px;
    color: var(--color-6);
    transition: all ease 0.3s;
    -webkit-text-stroke: 0.1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px
}

#restoname { 
    font-size: 20px;
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: 5px;
    color: var(--color-4);
    cursor: pointer;
}

#leaf {
    width: 15px;
    height: 15px;
    margin-right: 10%;
}

/* --- HOMEPAGE --- */

.homepage {
    width: 100%;
}


#welcomingWrap {
    background-image: url(./assets/cover.png);
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
}

#welcoming span {
    font-family: poppinsB;
    color: var(--color-3);
}

#welcoming {
    font-size: 3em;
    margin-top: 10px;
    width: 35%;
    text-align: right;
    margin-right: 5%;
    font-family: poppinsB;
    line-height: 1.5;
    color: #0E1111;
    margin-left: auto;
}

#expBtn {
    width: 200px;
    height: 50px;
    border: 0;
    background-color: var(--color-4);
    color: white;
    margin-right: 5%;
    border-radius: 20px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.342);
    cursor: pointer;
}

#expBtn:hover {
    transition: all ease 0.4s;
    background-color: var(--color-3);
}

.secondHome {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    background: white;
    justify-content: center;
    align-items: center;
}

#secondTitle span {
    color: var(--color-3);
}

#captionWrap {
    width: 500px;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
}

#secondImg {
    width: 40%;
    height: auto;
    object-fit: contain;
}

/* THIRD HOMEPAGE */

.thirdHome {
    height: 100vh;
    width: 100%;
    background-color: var(--color-5);
    position: relative;
}

#thirdTitle {
    width: 100%;
    text-align: center;
    position: relative;
    top: 50px;
    color: var(--color-1);
    font-size: 50px;
    font-family: poppinsB;
}

#thirdTitle span {
    color: var(--color-2);
    font-family: poppinsB;
}

#cardWrap {
    display: grid;
    position: absolute;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    height: 70%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 50px;
    column-gap: 40px;
}

#card {
    width: 400px;
    height: 220px;
    margin: auto;
}

#icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
}

#icon, #headings {
    display: inline-block;
}

#headings {
    font-size: 25px;
    vertical-align: middle;
    color: var(--color-2);
}

#details {
    color: white;
    margin-top: -10px;
    text-align: justify;
    font-family: poppinsT;
}

/* FOURTH HOMEPAGE */

.fourthHome {
    width: 100%;
    height: 100vh;
    background-image: url(./assets/background5.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
}

#fourthTitle {
    font-family: poppinsB;
    font-size: 60px;
    margin-bottom: -1%;
}

#fourthTitle span {
    font-family: poppinsB;
    color: var(--color-5);
}

#foodPic {
    width: 300px;
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#foodCard {
    width: 300px;
    height: 330px;
    background-color: var(--color-5);
    background-size: cover;
    color: var(--color-1);
    border-radius: 20px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.512);
}

#foodName {
    font-family: poppinsM;
}

#foodName, #foodPrice {
    text-align: center;
}

#foodCardWrap {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

/* FOOTER */

#footerc1 {
    width: 25%;
    margin-left: 10%;
}

#footerc2 {
    width: 20%;
}

#footerc3 {
    width: 30%;
    margin-right: 10%;
}

#footerWrap {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    background-color: var(--color-6);
    height: 35vh;
    color: white;
}

#restonameF {
    font-size: 30px;
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: 5px;
    color: var(--color-4);
    cursor: pointer;
    margin-bottom: -10px;
}

#leafF {
    width: 22.5px;
    height: 22.5px;
    margin-right: 10%;
}

#restonameF, #leafF {
    display: inline-block;
}

#repo {
    color: var(--color-1);
}

/* ------- MENU PAGE -------- */

.menuPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #eff0eb;
    object-fit: cover;
    background-size: cover;
}

#menuTitle {
    width: 300px;
    text-align: left;
    font-size: 60px;
    font-family: poppins;
    color: var(--color-6);
    margin-top: 0;
}

#titleWrap {
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    height: 170px;
}

#titleDesc {
    width: 600px;
    margin-left: 40px;
    font-family: poppinsT;
}

#titleDesc span {
    font-family: poppinsB;
}

#menuCategory {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1200px;
    border-bottom: 2px solid black;
}

#menuCategory li {
    list-style: none;
    margin: 30px;
    cursor: pointer;
}

#menuCategory li a {
    font-family: poppinsM2;
    font-size: 20px;
}

#menuCategory li a .active {
    color: var(--color-4);
}

#menuDiv {
    width: 900px;
    height: 100%;
    margin-top: 30px;
    overflow: auto;
}

#subMenuDiv {
    display: grid;
    grid-template-columns: 400px auto;
    margin-bottom: 30px;
}

#foodMenuName {
    margin-top: 0;
    text-align: left;
}

#foodMenuPrice {
    text-align: left;
}

#foodMenuDesc {
    margin-top: 0;
}

h2 {
    font-family: poppinsT;
    text-decoration: underline;
}

.beveragePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}